<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Narrate | Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="footer">Made with <span><i class="fas fa-heart"></i></span> by AG</div>
    <div class="container">
        <nav>
            <img src="/logo.svg" width="100px" alt="" class="logo">
            <div class="btns">
                <a href="/create" class="btn btn-create">Create Story</a>
                <!-- <a href="/create" class="btn btn-create">Create Article</a> -->
            </div>
        </nav>
        <div class="landing">
            <div class="left">
                <div class="pill">Have Stories?</div>
                <div class="intro">Start <span>NARRATING </span> Stories to your own audience</div>
                <div class="btns-landing">
                    <a href="/create" class="btn btn-landing">Get Started</a>
                    <a href="/adminstories" class="btn btn-landing">View Stories</a>
                </div>
            </div>
            <div class="right">
                <img src="/landing.svg" height="400px" width="500px" alt="">
            </div>
        </div>
    </div>
    <script src="/main.js"></script>
</body>
</html>